[Unit]
Description=A LAN device presence checker
Documentation=https://github.com/ltworf/lapdog#lapdog

[Service]
Type=simple
PIDFile=/run/lapdog.pid
ExecStart=/usr/sbin/lapdog
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
