#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS=1
include /usr/share/dpkg/buildflags.mk
CFLAGS+=$(CPPFLAGS)
CXXFLAGS+=$(CPPFLAGS)

SHELL=sh -e

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

export DH_VERBOSE=1

%:
	dh $@ --with systemd
